.info{
  font-size: 28rpx;
  color: #999;
  text-align: center;
  padding-top: 40rpx;
}
.avatar{
  text-align: center;
  margin-top: 50rpx;
  position: relative;
  padding-bottom: 100rpx;
  .upload-state{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30rpx;
    opacity: .5;
    font-size: 24rpx;
  }
  .avatar-wrapper{
    width: 150rpx;
    height: 150rpx;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    margin: auto;
    .progress{
      position: absolute;
      left: 0;
      bottom: 50%;
      width: 100%;
      height: 100%;
      background-color: rgba(255,255,255, .5);
      transition: all .1s;
    }
  }
  button{
    width: 150rpx;
    height: 150rpx;
    border-radius: 100%;
    overflow: hidden;
    padding: 0;
  }
  image{
    margin: auto;
    width: 150rpx;
    height: 150rpx;
  }
}
.list{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  .label {
    width: 120rpx;
    padding: 30rpx;
    color: #777;
  }
  .content {
    input {
      width: 100%;
    }
  }
}
.button-wrapper{
  padding: 30rpx;
  margin-top: 50rpx;
}