.banner{
  position: relative;
  image{
    width: 100%;
  }
}
.items{
  display: flex;
  flex-wrap: wrap;
  padding: 10rpx;
  view{
    width: 25%;
    box-sizing: border-box;
    padding: 10rpx;
  }
  image{
    width: 100%;
    display: block;
    margin: 0;
  }
}