page {
  background-color: #F4F4F4;
}
.list{
  align-items: center;
  padding: 30rpx;
  background-color: #fff;
  border-bottom: 1px solid #F4F4F4;
  font-size: 28rpx;
  color: #777;
  line-height: 45rpx;
  .title{
    flex: 1;
    font-size: 34rpx;
    color: #333;
    padding-bottom: 15rpx;
  }
  &.hover-class{
    background-color: #fafafa;
  }
}

.dataInfo{
  text-align: center;
  font-size: 28rpx;
  padding-top: 30rpx;
  opacity: .6;
  padding-bottom: 30rpx;
}