page {
  background-color: #F4F5F7;
}
.userInfo{
  text-align: center;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #00AD81;
  padding: 40rpx 30rpx 70rpx 30rpx;
  margin-bottom: 30rpx;
}
.userName{
  font-size: 32rpx;
}
.avatar {
  border-radius: 100%;
  width: 100rpx;
  height: 100rpx;
  border: 1px solid #eee;
  overflow: hidden;
  margin-right: 30rpx;
}