page{
  padding-bottom: calc(30rpx + constant(safe-area-inset-bottom) / 2);
  padding-bottom: calc(30rpx + env(safe-area-inset-bottom) / 2);
}
.tips{
  font-size: 28rpx;
  padding: 40rpx 0 25rpx 0;
  opacity: .6;
  text-align: center;
}
.wrapper{
  display: flex;
  flex-wrap: wrap;
  padding: 0 5%;
  .item{
    width: 50%;
    height: auto;
    text-align: center;
    padding-top: 20rpx;
    line-height: 40rpx;
    padding-bottom: 30rpx;
    .image{
      width: 75%;
      height: auto;
      border: 1px solid #eee;
    }
    .name{
      font-size: 30rpx;
      color: #666;
    }
  }
}