page{
  text-align: center;
  padding: 0 12%;
  box-sizing: border-box;
}
.title{
  font-size: 70rpx;
  color: #00AD81;
  letter-spacing: 10rpx;
  padding: 50rpx;
}
.banner{
  width: 100%;
  height: auto;
}
.h1{
  font-size: 42rpx;
  color: #000;
  padding-top: 40rpx;
}
.call-text{
  background-color: #00AD81;
  border-radius: 60rpx;
  text-align: center;
  color: #fff;
  padding: 30rpx;
  font-size: 44rpx;
  height: 60rpx;
  margin-bottom: 50rpx;
  margin-top: 40rpx;
  &.hover-class{
    background-color: #02946f;
  }
  &>view{
    position: absolute;
    height: 60rpx;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
  }
  image{
    width: 55rpx;
    height: 55rpx;
    margin-right: 30rpx;
  }
}
.flex-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20rpx;
  font-size: 28rpx;
  color: #444444;
  .label{
    margin-right: 30rpx;
  }
  .content{
    flex: 1;
    text-align: left;
  }
}
.modal{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,.2);
  .content{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    .hover-class{
      background-color: #eee;
    }
  }

  .item, .cancel{
    background-color: #fff;
    padding: 25rpx;
    text-align: center;
    border-bottom: 1px solid #eee;
    &:last-child{
      border-bottom: 0px;
    }
  }
  .cancel{
    margin-top: 20rpx;
    border-bottom: 0;
    padding-bottom: calc(1rpx + constant(safe-area-inset-bottom));
    padding-bottom: calc(1rpx + env(safe-area-inset-bottom));
  }
}