.formWrapper {
  padding-bottom: calc(30rpx + constant(safe-area-inset-bottom) / 2);
  padding-bottom: calc(30rpx + env(safe-area-inset-bottom) / 2);

  .form-item {
    padding: 0 30rpx;
    font-size: 30rpx;
    color: #666;
    padding-top: 40rpx;
    box-sizing: border-box;
    .label {
      padding-right: 30rpx;
      margin-bottom: 20rpx;
      white-space: nowrap;
      color: #666;
    }

    input,
    picker {
      font-size: 30rpx;
      height: 85rpx;
      box-sizing: border-box;
      border: 1px solid #eee;
      border-radius: 8rpx;
      padding: 0 20rpx;
    }

    input {
      line-height: 85rpx;
    }

    picker view {
      padding: 0;
      height: 85rpx;
      line-height: 85rpx;
    }

    .item {
      flex: 1;
    }

    .placeholder {
      color: #999;
    }

    .radio {
      margin-right: 30rpx;
    }
    .desc {
      padding-top: 15rpx;
      font-size: 24rpx;
      color: #999;
      display: flex;
    }
    .template{
      color: #00AD81;
      margin-left: 15rpx;
      &.template-hover{
        opacity: .6;
      }
    }
  }
}

.form-submit-wrapper {
  padding: 30rpx;
}

