.formWrapper {
  padding-bottom: calc(30rpx + constant(safe-area-inset-bottom) / 2);
  padding-bottom: calc(30rpx + env(safe-area-inset-bottom) / 2);
  &.inline-formWrapper{
    border-bottom: 1px solid #eee;
    padding-bottom: 0;
  }
  .form-item {
    padding: 0 30rpx;
    font-size: 30rpx;
    color: #666;
    padding-top: 40rpx;
    box-sizing: border-box;
    &.inline-form-item{
      padding-top: 0;
      border-top: 1px solid #eee;
    }
    .inline{
      display: flex;
      align-items: center;
      padding-top: 0;
      .label{
        height: 100rpx;
        padding: 0;
        line-height: 100rpx;
        margin-bottom: 0;
        width: 150rpx;
      }
      input{
        border: 0;
        height: 100rpx;
        line-height: 100rpx;
        padding: 0;
      }
    }
    .label {
      padding-right: 30rpx;
      margin-bottom: 20rpx;
      white-space: nowrap;
      font-size: 30rpx;
      color: #333;
    }

    input,
    picker {
      font-size: 30rpx;
      height: 85rpx;
      box-sizing: border-box;
      border: 1px solid #d4d4d4;
      border-radius: 8rpx;
      height: 90rpx;
      line-height: 90rpx;
      padding: 0 20rpx;
    }

    input {
      line-height: 85rpx;
    }

    textarea{
      border: 1px solid #d4d4d4;
      width: 100%;
      padding: 20rpx;
      box-sizing: border-box;
      border-radius: 8rpx;
    }

    picker view {
      padding: 0;
      height: 85rpx;
      line-height: 85rpx;
    }

    .item {
      flex: 1;
    }

    .placeholder {
      color: #999;
    }

    .radio {
      margin-right: 30rpx;
    }
    .desc {
      padding-top: 15rpx;
      font-size: 24rpx;
      color: #999;
      display: flex;
    }
    .template{
      color: #00AD81;
      margin-left: 15rpx;
      &.template-hover{
        opacity: .6;
      }
    }
  }
}

.form-submit-wrapper {
  padding: 30rpx;
}

